
# Playwright
.env
test-data/
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/package-lock.json/
/package.json/
/playwright.config.ts/
/allure-report/
/allure-results/


